$square-size: 30px;
$ship-block-size: 15px;
$font-color:#785;
$background:linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
$ship-background-image: linear-gradient(135deg, #f05f57 10%, #360940 100%);
$missed-background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);

.App {
   text-align: center;
//   background-color: #282c34;
//   min-height: 100vh;
 }

body {
  background: $background;
  color: $font-color;
}

.heading {
  margin: auto;
  text-align: center;
  position: relative;
  text-transform: uppercase;

  h1 {
    color: #777;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 0.1em;
    font-family: serif;
    padding-top: 0.1em;
    padding-bottom: 0.7em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
    margin: auto;
  }
}



.game {
  text-align: center;

  .board {
    display: inline-block;
    margin: auto;

    .board-title {
      display: inline-block;
      width: $square-size;
      height: $square-size;
      box-sizing: border-box;
      vertical-align: bottom;
      padding: 5px;
      color: $font-color;
    }
        
    // reveal all ships
    /*
    .ship {
      background: #777;
    }
    */

  }
  
  .game-info{
    .ship-info{
      .ship-item{
        .ship-block{
          display: inline-block;
          width: $ship-block-size;
          height: $ship-block-size;
          border: 1px solid #eee;
          background: $missed-background-image;
          box-sizing: border-box;
          
          &.revealed{
            background: $ship-background-image;
          }
        }
      }
    }
  }
  
}

// description at the end of page
.description {
  text-align: center;
}

//game over masked modal
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);

  .modal-content {
    margin: auto;
    padding: 20px;
    width: 90%;
    color: #fff;
    text-align: center;
    h1 {
      font-size: 4em;
    }

    button {
      border: 3px solid #fff;
      color: #fff;
      font-family: inherit;
      font-size: inherit;
      background: none;
      cursor: pointer;
      padding: 20px 50px;
      display: inline-block;
      margin: 15px 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      outline: none;
      position: relative;
      &:hover {
        color: $font-color;
        background: #fff;
      }
    }
  }
}
